#img-bg-1 {
    background-image: url(https://i.imgur.com/PlNswlg.jpeg);
    min-height: 695px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#img-bg-2 {
    background-image: url(https://i.imgur.com/drlKDYX.jpeg);
    min-height: 695px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

input::placeholder {
    color: #2596be;
}

input, select {
    border-width: 2px;
}

h1, label {
    font-weight: 600;
}
