#img-bg-1 {
    background-image: url(https://i.imgur.com/BC39CyE.jpeg);
    min-height: 695px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#img-bg-2 {
    background-image: url(https://i.imgur.com/Jtz1BfM.jpeg);
    min-height: 695px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


