/* You can add global styles to this file, and also import other style files */

.fs-54 {
    font-size: 54pt;
}

.fs-15 {
    font-size: 15pt;
}



html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}


